/* css dedicated at responsive */

/* SIDEBAR OPEN VERSION */
@media screen and (min-width: 650px) {
    .sidebar {
        min-width: var(--space-extraxl);
        align-items: flex-start;
        flex-shrink: 1;
    }

    .main-section {
        padding: 0px 10px 10px 10px;
    }

    .sidebar-logo :first-child {
        display: none;
    }

    .sidebar-logo :last-child {
        display: block;
        width: 100%;
    }

    .sidebar span,
    .m-sidebar {
        display: block;
    }

    .sidebar-home,
    .sidebar-search,
    .sidebar-library {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar-download {
        border-bottom: 1px solid #7D7F84;
        width: 140%;
        justify-content: flex-start;
    }

    .mainbar li {
        flex-basis: calc(100% / 3);
    }
}

/* TABLET VERSION */
@media screen and (min-width: 900px) {

    .card {
        flex-basis: 25%;
    }

    .mainbar li {
        flex-basis: 20%;

    }
}

/* DESKTOP VERSION */
@media screen and (min-width: 1400px) {
    .card {
        flex-basis: calc(100% / 6);
    }

    .mainbar li {
        flex-basis: calc(100% / 6);

    }
}