* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Generics*/
body {
    color: #7D7F84;
    font-family: Montserrat
}

.img {
    width: 100%;
    display: block;
}

/*Utils*/

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}