* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Generics*/
body {
    color: var(--main-font);
    font-family: Montserrat
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.layout {
    width: 100%;
}

/*Utils*/

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.btn {
    border: 1px solid #fff;
    border-radius: var(--space-lg);
    padding: 10px 30px;
    text-transform: uppercase;
}

.navbtn {
    position: relative;
    right: 45px;
    text-decoration: none;
    font-weight: bold;
}

h2,
h3,
h4,
.btn,
.sidebar-user span,
.footer-bar a,
.media-player,
.volume * {
    color: var(--sec-font);
}

h3 {
    text-transform: uppercase;
}


button {
    background-color: var(--btn-color);
    color: black;
    font-size: 1.5rem;
    width: var(--space-xxl);
    height: var(--space-xxl);
    border: 0;
}

/* MAIN */

/* navbar section */
.navbar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: var(--space-extra);
    background-color: var(--main-bgcolor);
    opacity: 0.8;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

/* sidebar section */
.sidebar {
    background-color: var(--sidebar-color);
    width: 50px;
    padding: var(--space-sm);
    justify-content: space-between;
}

.t-sidebar,
.sidebar-playlist {
    line-height: 3;
}

.sidebar-logo {
    margin-bottom: var(--space-lg);
}

.m-sidebar ul {
    height: 520px;
    overflow-y: auto;
}

.sidebar-download {
    font-size: 0.8rem;
    margin: 20px 0;
    text-align: center;
}

.sidebar span,
.m-sidebar {
    display: none;
}

.sidebar-logo :last-child {
    display: none;
}

.sidebar-download span,
.sidebar-user span {
    margin-left: var(--space-sm);
}

.sidebar-user span {
    font-weight: bold;
}

.sidebar-user img {
    height: var(--space-xl);
    width: var(--space-xl);
    background-color: var(--main-font);
    border-radius: 50%;
}

.sidebar-download {
    justify-content: center;
}

.t-sidebar .fa-solid {
    margin-right: var(--space-sm);
}

.m-sidebar button {
    margin-right: var(--space-sm);
}

/* main section */
.main-section {
    background-color: var(--main-bgcolor);
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 0px 10px 10px 10px;
    flex-grow: 1;
}

/* mainbar */
.mainbar {
    margin-bottom: var(--space-xxl);
}

.mainbar ul {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-sm);
}

.mainbar li {
    flex-basis: calc(100% / 4 - 10px);
    text-transform: uppercase;
}

/* main content */
.title-content {
    margin: 60px 0;
}

.title-content span,
.mainbar li {
    font-weight: bold;
    font-size: 0.8rem;
}

.main-content {
    flex-wrap: wrap;
    gap: var(--space-sm);
}

.card {
    text-align: center;
    flex-basis: calc(50% - 10px);
}

.card img {
    margin-bottom: var(--space-lg);
}

.card h3 {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.artist img {
    border-radius: 50%;
}

/* Footer Section */
footer {
    background-color: var(--footer-bgcolor);
    height: 100px;
    width: 100%;
    padding: var(--space-sm);
}

footer a {
    text-decoration: none;
    color: var(--main-font);
}

.footer-section {
    align-items: center;
    justify-content: space-between;
    gap: var(--space-lg);
    padding-top: var(--space-lg);
}

.footer-bar {
    flex-basis: 100%;
}

.song {
    font-size: 0.9rem;
    flex-shrink: 1;
}

.song-img img {
    max-width: 50px;
    padding-right: var(--space-sm);
}

.song-name span {
    font-size: 0.6rem;
}

.song-option {
    flex-wrap: wrap;
    text-align: center;
}

.song-option i {
    flex-basis: 100%;
}

.player-bar {
    gap: var(--space-sm);
    row-gap: var(--space-lg);
    justify-content: space-around;
    flex-grow: 1;
}


.media-player {
    align-items: center;
    margin-top: var(--space-lg);
}

.current-time {
    margin-right: var(--space-xs);
}

.total-time {
    margin-left: var(--space-xs);
}

.current-time,
.total-time {
    font-size: 0.8rem;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #555;
    border-radius: 4px;
}

.progress {
    position: relative;
    width: 25%;
    height: 100%;
    background-color: #ccc;
    border-radius: 4px;
}

.vol {
    position: absolute;
    top: -4px;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: forestgreen;
    display: none;
}

.progress-vol:hover .vol {
    display: block;
}

.volume * {
    font-size: 0.8rem;

}

.volume .progress-bar {
    width: 100%;
}

.volume-bar {
    align-items: center;
    gap: var(--space-sm);
}


/* hover and effects style */

.navbtn:hover,
a:hover,
i:hover {
    transform: scale(1.2);
    background-color: transparent;
    color: var(--sec-font);
}

li:hover,
.m-sidebar span:hover {
    cursor: pointer;
    color: var(--sec-font);
}

.content {
    position: relative;
}

.play-hover {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0;
    background-color: rgba(black, black, black, 0.5);
    transition: opacity 0.3s ease;
    filter: brightness(6);
}

.content:first-child:hover {
    opacity: 0.5;
}

.content:hover .play-hover {
    opacity: 1;
}

.artist img:first-child {
    -webkit-mask: var(--m);
    mask: var(--m);
    filter: grayscale(.5);
    transition: .3s linear;
    cursor: pointer;
}

.artist img:first-child:hover {
    -webkit-mask-position: 7.5% 50%, 92.5% 50%;
    mask-position: 7.5% 50%, 92.5% 50%;
    filter: grayscale(0);
}

.artist .play-hover {
    top: 70%;
    left: 83%;
    width: 30%;
}