* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Generics*/
body {
    color: #7D7F84;
    font-family: Montserrat
}

.img {
    width: 100%;
    display: block;
}

/*Utils*/

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.btn {
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
}

.navbtn {
    position: relative;
    right: 30px;
    text-decoration: none;
    font-weight: bold;
}


/* MAIN */


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: #141922;
    opacity: 0.8;
    justify-content: flex-end
}

p {
    margin-top: 100px;
    margin-left: 50px;

}

.main-section {
    background-color: #141922;
    height: calc(100vh - 100px);
    overflow-y: auto;
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - 100px);
    background-color: #000000;
    color: #fff;
    width: 50px;
}





/* Footer Section */

footer {
    background-color: #282828;
    height: 100px;
    width: 100vw;
}