:root {
    --space-xxs: 2px;
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 20px;
    --space-xl: 30px;
    --space-xxl: 40px;
    --space-xxxl: 60px;
    --space-extra: 100px;
    --space-extral: 150px;
    --space-extraxl: 200px;
    /* colors */
    --main-font: #7D7F84;
    --sec-font: #fff;
    --btn-color: #A3A3A3;
    --main-bgcolor: #141922;
    --sidebar-color: #000;
    --footer-bgcolor: #282828;
    /* effects */
    --m:
        radial-gradient(circle farthest-side at right, #000 99%, #0000) 0 100%/46% 92% no-repeat,
        radial-gradient(circle farthest-side at left, #000 99%, #0000) 100% 0/46% 92% no-repeat;
}